@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active {
    color: black;
    text-decoration: none;
    background-color: unset;
}

.bg-primary {
    background-color: #f7c859;
}

.bg-primary-lighter {
    background-color: #ffdf94;
}

.text-primary {
    color: #f7c859;
}

.test {
    color: #104dc1;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    font-weight: 400;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .9) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}